/* Swiper container styling */
.swiper {
  width: 100vw;
  height: 45rem;
}

/* Styling for individual swiper slides */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 48rem;
  object-fit: cover;
}

/* Center the swiper container */
.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* Slider container for positioning navigation buttons */
.slider-container {
  position: relative;
}

/* Custom navigation buttons styling */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20; /* Ensure navigation buttons are above other elements */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  width: 35px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 15px;

}

.custom-next:hover, .custom-prev:hover{border: none;}

.custom-prev {
  left: 1rem;
}

.custom-next {
  right: 1rem;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Styling for the explore button */
.btn-explore {
  background-color: rgba(58, 58, 58, 0.6);
  position: absolute;
  bottom: 4rem;
  left: 2.5rem;
  color: white;
  padding: 10px;
  border-radius: 13px;
  width: 12rem;
  font-weight:500;
}
.btn-explore:hover{
  background-color: rgba(0, 29, 76, 0.6);
}

/* Pagination styling to ensure it's in the right-bottom corner */
.mySwiper .swiper-pagination {
  position: absolute;
  bottom: 20px; 
  /* right: 0px;   */
  z-index: 15;
  color: white; 
}


/* Swiper Pagination Styling */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  background-color: rgba(120, 122, 124, 0.5); /* Blur background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  width: 10rem;
  height: 1.75rem; /* Set height */
  right: 4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Space between bullet points */
  gap: 1.25rem; /* Extra gap for mobile users */
  border-radius: 12px;
  left: auto;
}

/* Ensure the bullet points are visible and centered */
.swiper-pagination-bullet {
  background-color: rgb(203, 203, 203); /* Bullet point color */
  opacity: 1; /* Ensure bullet points are not blurred */
  width: 9px; /* Adjust size for better visibility */
  height: 9px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #001d4c; /* Active bullet color */
}
@media (max-width: 768px) {
  .btn-explore {
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    bottom: 1.5rem;
  }
  .swiper-slide {
    height: 42rem;
  }
  .mySwiper .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    /* left: 6.5rem; */
    right: auto;
    width: 10rem;
  }
  .swiper-pagination-bullet {
    width: 8px; /* Slightly larger bullets for touch-friendly design */
    height: 8px;
    gap: 1.25rem; /* Increased gap for better spacing */
  }
}
